extends ../layout

block content
  .page-header
    h2 Publishing Rooms: Scanner Wall

  a(class='js--scan link-scan', href='#') Scan
  h4(class="js--current-scan")
  div(class="images js--current-scan-images")
  div(class="timelines-wrapper")
    div(class="timelines")
      div(class="timelines-viewport")
        -var index = -2
        for timeline in timelines
         -var newindex = index++;
          span(id="timeline-#{newindex}", data-timelineid="#{newindex}", class='link-timeline', data-link='/timeline/#{timeline.time}') #{timeline.friendlyTimeline} 
    a(class="js--timeline-link timelines-link" href="/timeline/#{timelines[2].time}" data-timeline="0") go
  a(class="js--timelines-arrow timelines-arrow" href="" data-direction="down") &#8595;
  a(class="js--timelines-arrow timelines-arrow" href="" data-direction="up") &#8593;
  